<!DOCTYPE html>
<html>
<head>
  <title>BookReviewApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


  <div id = 'container'>
    <div id = 'header'>
      <h1>THE DAILY BOOK REVIEW</h1>
    </div>

    <div class = 'search'>
      <button>SEARCH</button>
    </div>

    <div class = 'goodreads'>
      <h2></h2>
    </div>

    <div class = 'i_dream_books'>
      <h2></h2>
    </div>
    <%= yield %>
  </div>



</body>
</html>
